# Copyright (c) 2020, 2021  Carnegie Mellon University, IBM Corporation, and others
#
# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE.

# configuration of simulation for single PC
# services extend from docker-compose-common.yaml

services:
  # build
  navigation:
    extends:
      file: docker-compose-common.yaml
      service: navigation-dev
    profiles:
      - build

  localization:
    extends:
      file: docker-compose-common.yaml
      service: localization-dev
    profiles:
      - build

  debug:
    extends:
      file: docker-compose-debug.yaml
      service: debug
    profiles:
      - build

  # dev
  navigation-dev:
    extends:
      file: docker-compose-common.yaml
      service: navigation-dev
    profiles:
      - dev

  vlm:
    extends:
      file: docker-compose-common.yaml
      service: navigation-dev
    command: /bin/bash -c "source /opt/underlay_ws/install/setup.bash && cd /home/developer/ros2_ws && colcon build --packages-select vlm_social_nav vsn_yolo_ros vsn_yolo_msgs --cmake-clean-cache && source /home/developer/ros2_ws/install/setup.bash && source /home/developer/ros2_ws/install/vlm_social_nav/share/vlm_social_nav/local_setup.bash && ros2 launch vlm_social_nav vlm_social_nav_system.launch.py view_image:=false"
    profiles:
      - vlm

  vlm-rank:
    extends:
      file: docker-compose-common.yaml
      service: navigation-dev
    runtime: nvidia
    entrypoint: /workspace/docker/entrypoint.sh
    environment:
      - ROS_DOMAIN_ID
      - ROS_LOCALHOST_ONLY=0
      - RMW_IMPLEMENTATION
      - CYCLONEDDS_URI=file:///etc/cyclonedds/config.xml
      - CABOT_VLM_RANKNAV_CAMERA_SERIAL
    volumes:
      - ../VLM_Rank_Nav:/workspace
      - ./rank_nav_msgs:/tmp/rank_nav_msgs_src:ro
      - ../cabot-people/track_people_msgs:/tmp/track_people_msgs_src:ro
      - ../host_ws/src/people_msgs:/tmp/people_msgs_src:ro
      - ../VLM_Rank_Nav/docker/cyclonedds.xml:/etc/cyclonedds/config.xml
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - /dev/shm:/dev/shm
    stdin_open: true
    tty: true
    command: |
      /bin/bash -lc 'python3 -c "import importlib.util, importlib.metadata as m, sys; spec=importlib.util.find_spec(\"transformers\"); ver_ok=(spec is not None and m.version(\"transformers\")==\"4.35.2\"); mods=(\"accelerate\",\"filterpy\",\"cv2\"); missing=any(importlib.util.find_spec(x) is None for x in mods); sys.exit(1 if missing or not ver_ok else 0)"; \
      if [ $? -ne 0 ]; then \
        pip3 install --no-cache-dir transformers==4.35.2 accelerate opencv-python filterpy; \
      fi; \
      ros2 launch /workspace/launch.py'
    profiles:
      - vlm-rank

  gazebo-dev:
    extends:
      file: docker-compose-common.yaml
      service: gazebo-dev
    profiles:
      - dev

  gui-dev:
    extends:
      file: docker-compose-common.yaml
      service: gui-dev
    profiles:
      - dev
    deploy:
      replicas: ${USE_GUI:-1}

  localization-dev:
    extends:
      file: docker-compose-common.yaml
      service: localization-dev
    profiles:
      - dev

  # prodimg
  navigation-prod:
    extends:
      file: docker-compose-common.yaml
      service: navigation-prod
    profiles:
      - prod

  gazebo-prod:
    extends:
      file: docker-compose-common.yaml
      service: gazebo-prod
    profiles:
      - prod

  gui-prod:
    extends:
      file: docker-compose-common.yaml
      service: gui-prod
    profiles:
      - prod
    deploy:
      replicas: ${USE_GUI:-1}

  localization-prod:
    extends:
      file: docker-compose-common.yaml
      service: localization-prod
    profiles:
      - prod

  # embedding
  embedding:
    extends:
      file: docker-compose-common.yaml
      service: embedding
    profiles:
      - build

  embedding-dev:
    extends:
      file: docker-compose-common.yaml
      service: embedding-dev
    profiles:
      - dev

  embedding-prod:
    extends:
      file: docker-compose-common.yaml
      service: embedding-prod
    profiles:
      - prod

  # map server
  map_server:
    extends:
      file: docker-compose-common.yaml
      service: map_server
    profiles:
      - map

  map_data:
    extends:
      file: docker-compose-common.yaml
      service: map_data
    ports: !override []  # workaround, do not remove
    profiles:
      - map

  mongodb_ms:
    extends:
      file: docker-compose-common.yaml
      service: mongodb_ms
    profiles:
      - map

  # location tools
  location_tools:
    extends:
      file: docker-compose-common.yaml
      service: location_tools
    profiles:
      - tools

  mongodb_lt:
    extends:
      file: docker-compose-common.yaml
      service: mongodb_lt
    profiles:
      - tools

networks:
  mongodb_network:
